{
  "env": {
    "esm": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false,
          "targets": {
            "esmodules": true
          }
        }]
      ]
    },
    "cjs": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": 4
          }
        }]
      ],
      "plugins": ["add-module-exports"]
    },
    "test": {
      "presets": ["@babel/preset-env"],
      "plugins": ["add-module-exports"]
    }
  }
}
